body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.product-list {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 20px;
    margin-top: 20px;
}

.product-list li {
    list-style: none;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-list li:hover {
    transform: translateX(-5px);
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
    margin: 0 20px;
}

header nav a {
    text-decoration: none;
}

header nav {
    background-color: rgb(213, 235, 253);
    align-items: center;
    padding: 10px;
    margin: 0;
}

.btn {
    margin: 2%;
    padding: 10px;
    background: transparent;
    border: 2px plum solid;
    border-radius: 10px;
}

input.text {
    margin: 2%;
    padding: 10px;
    background: transparent;
    border: 2px plum solid;
    border-radius: 5px;
}

.add-product {
    /* Add form styling here */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form {
    text-align: center;
}


header {
    margin: 0;
}

main {
    margin: 10%;
}