
<%- include("../layouts/head.ejs") %>
</head>
<body>
    <%- include('../layouts/navigation.ejs') %>
    <main>
        <div class="form">
            <h1>Add Products</h1>
            <form action='/add-product', method='POST' class="add-product">
                <input required type="text" placeholder="Name" name='name' class='text' />
                <input required type="number" placeholder="Price" name='price' class='text' />
                <input type="number" placeholder="imgURL" name='imgURL', class='text' />
                <input type="number" placeholder="Description" name='description', class='text' />
                <input type="submit", name="", class='btn' />
            </form>
        </div>
    </main>
<%- include("../layouts/end.ejs") %>