doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        block style 
        title #{title}
    body 
        header 
            nav     
                ul 
                    li 
                        a(href='/') Shop
                    li  
                        a(href='/add-product') Add Product
        
        main 
            block content